<article class="post tag-mots tag-responsive">

	<header class="post-header">
		<h2 class="post-title">404</h2>
	</header>

	<section class="post-excerpt">
		<h3>Oops</h3>
		<p>
		What you are looking for doesn't appear to exist. Head back to the <a href="/">home page</a>?
		</p>
	</section>

</article>
