{{ define "title" }}This coming Friday{{ end }}

{{ define "content" }}

<article class="post tag-mots tag-responsive">

	<header class="post-header">
		<h2 class="post-title">This coming Friday</h2>
	</header>

	<section class="post-excerpt">
		<h3>{{ .E.Data.Name }}</h3>
		<span class="post-meta">
			<time datetime='{{ .E.Data.StartTime.Format "2006-1-2" }}'>{{ .E.Data.StartTime.Format "Mon, 2 Jan 2006 @ 15:04" }}</time>
		</span>
		<p>
			{{ .E.Data.Description }}
		</p>
	</section>

</article>

{{ end }}
