{{ define "title" }}Upcoming Events{{ end }}

{{ define "content" }}

<article class="post tag-mots tag-responsive">

	<header class="post-header">
		<h2 class="post-title">Upcoming Events</h2>
	</header>

	<section class="post-excerpt">
		<p>
			Upcoming Friday sessions are now listed in <a href="https://www.facebook.com/groups/hackerspainters/events/" target="_blank">https://www.facebook.com/groups/hackerspainters/events/</a>.  They will be synchronized directly on to this website soon. :-)
		</p>
	</section>

</article>

{{ end }}
