{{ define "title" }}This coming Friday{{ end }}

{{ define "content" }}

<h2 class="post-title">This coming Friday</h2>

<article class="post tag-mots tag-responsive">

	<header class="post-header">
		<h2 class="post-title">How I Built My Own 3D Printer With No Experience by Shafiq Ali</h2>
		<span class="post-meta">
			<time datetime="2013-11-01">1 Nov 2013</time>
		</span>

	</header>

	<section class="post-excerpt">
		<p>
			"I'll probably talk about my thoughts about 3D printing and getting into 3D printing from a non-engineer's point of view."
		</p>
	</section>

</article>

{{ end }}
