<article class="post tag-mots tag-responsive">

	<header class="post-header">
		<h2 class="post-title">This coming Friday</h2>
	</header>

	{{ range .Events }}
	<section class="post-excerpt">

		<h3>{{ .Data.Name }}</h3>
		<span class="post-meta">
			<time datetime='{{ .Data.StartTime.Format "2006-1-2" }}'>{{ .Data.StartTime.Format "Mon, 2 Jan 2006 @ 15:04" }}</time>
		</span>
		<br /> 
		<span class="post-meta">
			Venue: {{ .Data.Location }}
		</span>

		<div class="row">
		<a  href="#" id="express" 
			class="btn btn-primary btn-lg" 
			style="margin-left: 15px; margin-top: 20px;" 
			role="button" onclick="RegisterAttendee('{{ .Eid }}')">Express Entry</a>
		</div>

		<br /> 

		<p>
		{{ .Data.Description }}
		</p>
	</section>
	{{ end }}

</article>
