{{ define "title" }}Hackers and Painters{{ end }}

{{ define "content" }}

<h2>Hackers and Painters?</h2>

<p>
hackersandpainters.sg is a lunch-time skills sharing event for UI/UX designers and software/hardware hackers to interact and share their skills and know-how in an informal setting. The emphasis is on skills/knowledge sharing over a short 30 minutes to 1 hour session and polished presentations are *not* expected.
<p>

<h2>Origins</h2>

<a href="http://en.m.wikipedia.org/wiki/Brown_bag_seminar">http://en.m.wikipedia.org/wiki/Brown_bag_seminar</a>

<p>
"""A brown bag seminar, session or lunch is generally a training or information session during a lunch break. "Brown bag" is representative of meals brought along by the attendees, or provided by the host. In the USA, those are often packed in brown paper bags. Brown bag seminars normally run an hour or two."""
</p>

<p>
and additionally,

<a href="http://www.paulgraham.com/hp.html">http://www.paulgraham.com/hp.html</a>
</p>

{{ end }}
