{{ define "title" }}Hackers and Painters{{ end }}

{{ define "content" }}

	<article class="post tag-mots tag-responsive">
		<header class="post-header">
			<h2 class="post-title">Hackers and Painters?</h2>
		</header>
		<section class="post-excerpt">
			<p>
				<a href="http://hackersandpainters.sg">hackersandpainters.sg</a> is a lunch-time skills sharing event for UI/UX designers and software/hardware hackers to interact and share their skills and know-how in an informal setting. We welcome domain experts as well - for example, a lawyer sharing legal know-how or a trader sharing specific skills relating to stock market trading --- no "get-rich-quick" schemes though :-p. 
			</p>
			<p>
				The emphasis is on skills/knowledge sharing over a short 30 minutes to 1 hour session and polished presentations are *not* expected.  This event is currently held in Singapore but we do want to expand the ethos and culture of knowledge sharing beyond Singapore.  
			<p>
			<p>
				In fact, in a completely distributed manner if possible.
			</p>
		</section>
	</article>

	<article class="post tag-mots tag-responsive">
		<header class="post-header">
			<h2 class="post-title">Origins</h2>
		</header>
		<section class="post-excerpt">
			<p>
				Capitalizing on the constraints of lunch hours to learn new things! - <a href="http://en.wikipedia.org/wiki/Brown_bag_seminar" target="_blank">http://en.wikipedia.org/wiki/Brown_bag_seminar</a>
			</p>
			<blockquote>
				<p>
				A brown bag seminar, session or lunch is generally a training or information session during a lunch break. "Brown bag" is representative of meals brought along by the attendees, or provided by the host. In the USA, those are often packed in brown paper bags. Brown bag seminars normally run an hour or two.
				</p>
			</blockquote>
			<p>
			The name of this event is inspired from <a href="http://www.paulgraham.com/hp.html" target="_blank">http://www.paulgraham.com/hp.html</a>
			</p>
			<blockquote>
				<p>
				When I finished grad school in computer science I went to art school to study painting. A lot of people seemed surprised that someone interested in computers would also be interested in painting. They seemed to think that hacking and painting were very different kinds of work-- that hacking was cold, precise, and methodical, and that painting was the frenzied expression of some primal urge.
				</p>
				<p>
				Both of these images are wrong. Hacking and painting have a lot in common. In fact, of all the different types of people I've known, hackers and painters are among the most alike.
				</p>
				<p>
				What hackers and painters have in common is that they're both makers. Along with composers, architects, and writers, what hackers and painters are trying to do is make good things. They're not doing research per se, though if in the course of trying to make good things they discover some new technique, so much the better.
				</p>
			</blockquote>
		</section>
	</article>

	<article class="post tag-mots tag-responsive">
		<header class="post-header">
			<h2 class="post-title">Where and when?</h2>
		</header>
		<section class="post-excerpt">
			<p>
				Hackers and Painters skills sharing sessions are currently held at <a href="https://maps.google.com.sg/maps?q=71+Ayer+Rajah+Crescent&hl=en&sll=1.343746,103.824045&sspn=0.674783,0.474472&oq=71+ayer&hnear=71+Ayer+Rajah+Crescent,+139951&t=m&z=17&iwloc=A" target="_blank">Blk 71</a> Plug-in (Level 2) just across the road from Fusionopolis/One-North MRT, always from 1 pm to 2 pm, every Friday (except for Public Holidays).
			</p>
			<p>
				To find out more about the topic and the speaker(s) for specific Fridays, head over to our facebook group's event listing here -- <a href="https://www.facebook.com/groups/hackerspainters/events/" target="_blank">https://www.facebook.com/groups/hackerspainters/events/</a> and here -- <a href="https://www.facebook.com/groups/generalhackers/events/" target="_blank">https://www.facebook.com/groups/generalhackers/events/</a>.  
			</p>

			<p>
				We currently have two facebook groups because we have just renamed our event name from "General Hackers" to "Hackers and Painters", which is more reflective of the diversity of our speakers' background.  The "General Hackers" group will be deprecated in a month's time when our existing community members move over and our currently scheduled sessions are also moved over to the "Hackers and Painters" group.
			</p>
		</section>
	</article>

	<article class="post tag-mots tag-responsive">
		<header class="post-header">
			<h2 class="post-title">We need help!</h2>
		</header>
		<section class="post-excerpt">
			<p>
				We are also looking for venue partners in Singapore and beyond who would like to provide their space for a short 1 - 1.5 hours during Friday lunch.  This would allow people - hackers and painters :-) - who are working near their space to consistently share new skills and know-how. 
			</p>
			<p>
			Right now, Friday lunch-time Hackers and Painters sessions are held at the locations provided by <a href="#venue-partners">venue partners</a> listed below.
			</p>
		</section>
	</article>

	<article class="post tag-mots tag-responsive">
		<header class="post-header">
			<h2 class="post-title"><a href="#/">Mad skills, you have?</a></h2>
		</header>
		<section class="post-excerpt">
			<p>
				If you have got interesting skills or know-how that you would like to share during lunch, get in touch at <a href="mailto:share@hackersandpainters.sg">share@hackersandpainters.sg</a>.
			</p>
		</section>
	</article>

	<article class="post tag-mots tag-responsive">
		<header class="post-header">
			<h2 id="venue-partners" class="post-title"><a href="#/">Our venue partners</a></h2>
		</header>
		<section class="post-excerpt">
			<ul>
				<li><a href="http://www.nus.edu.sg/enterprise/" target="_blank">NUS Enterprise</a></li>
				<li><a href="http://mig33.com/" target="_blank">Mig33</a></li>
			</ul>
		</section>
	</article>

	<!--<article class="post tag-mots tag-code">-->
		<!--<header class="post-header">-->
			<!--<h2 class="post-title"><a href="/show-off-your-coding/">Show off your code</a></h2>-->
			<!--<span class="post-meta"><time datetime="2013-10-17">17 Oct 2013</time> on mots, code</span>-->
		<!--</header>-->
		<!--<section class="post-excerpt">-->
			<!--<p>With mots and Ghost is easy to also display code samples. We took care of the styling of &lt;pre&gt; and &lt;code&gt; to help you.-->

			<!--You can also add bigger blocks of code:-->

			<!--.clearfix:before,-->
			<!--.clearfix:after {-->
			<!--content: " ";-->
			<!--display: table;-->
			<!--}-->

			<!--.clearfix:after {-->
			<!--clear: both;-->
			<!--}-->


			<!--You're all set&hellip; <a href="/show-off-your-coding/" title="Show off your code">Continue reading</a></p>-->
		<!--</section>-->
	<!--</article>-->

	<!--<nav class="pagination" role="navigation">-->

		<!--<span class="page-number">1/2</span>-->

		<!--<a href="/page/2/" class="page-next">older&hellip;</a>-->

	<!--</nav>-->

{{ end }}
