{{ define "title" }}Organise a Hackers &amp; Painters event{{ end }}

{{ define "content" }}

<header class="post-header">
	<h2 class="post-title">Organising a session?</h2>
</header>

<article class="post tag-mots tag-responsive">

	<section class="post-excerpt">
		<h3>Event Doctrine (Venue Owners)</h3>
		<p>
			To organize a Hackers &amp; Painters lunch event at a venue that you manage/own, simply get in touch at <a href="mailto:share@hackersandpainters.sg">via email</a>.  
		</p>
		<p>
		    We will help you to publish your event on our site and broadcast it to our community members.  Obviously, as venue manager/owner hosting the event, do publicize the event to our existing community members and to hackers and painters who may be working near your venue location too!  At the moment, we have 1 existing venue partners - NUS Enterprise - and we are in the process of working with a couple more venue partners in the CBD area (colloquially referred to as "town") in Singapore.
		</p>
	</section>

</article>

<article class="post tag-mots tag-responsive">

	<section class="post-excerpt">
		<h3>Event Format (Speakers)</h3>
		<p>
			The focus of our event is on skills and knowledge sharing.  Our speakers come from different disciplines with varying programming know-how, design skills or specific domain knowledge not necessarily constrained to programming and design know-how.
		</p>
		<p>
			While slides are appreciated and our event spaces normally do have projectors and whiteboards provided for, speakers are encouraged to focus on sharing specific tips, techniques and tricks within the 30 minutes sharing session.
		</p>
		<p>
			Speakers are encouraged to keep the sharing session casual amd focus more on substance than style.  Style - of course - is always appreciated but is not the essence of what our Hackers &amp; Painters sessions are about. 
		</p>

	</section>

</article>

{{ end }}
