{{ define "title" }}Organise a Hackers &amp; Painters event{{ end }}

{{ define "content" }}

<header class="post-header">
	<h2 class="post-title">Organising a session?</h2>
</header>

<article class="post tag-mots tag-responsive">

	<section class="post-excerpt">
		<h3>Event Doctrine (Venue Owners)</h3>
		<p>
			To organize a Hackers &amp; Painters lunch event at a venue that you manage/own, simply get in touch at <a href="mailto:share@hackersandpainters.sg">via email</a>.  
		</p>
		<p>
		    We will help you to publish your event on our site and broadcast it to our community members. 
		</p>	
		<p>
			Obviously, as venue manager/owner hosting the event, do publicize the event to your existing members (who works at your venue) and to other hackers and painters you are acquainted with, as well!  
		</p>
	</section>

</article>

<article class="post tag-mots tag-responsive">

	<section class="post-excerpt">
		<h3>Event Format (Speakers)</h3>
		<p>
			The focus of our event is on skills and knowledge sharing.  Our speakers come from different disciplines with varying programming know-how, design skills or specific domain knowledge not necessarily constrained to programming and design know-how.
		</p>
		<p>
			While slides are appreciated and our event spaces normally do have projectors and whiteboards provided for, speakers are encouraged to focus on sharing specific tips, techniques and tricks within the 30 minutes sharing session.
		</p>
		<p>
			Speakers are encouraged to keep the sharing session casual amd focus more on substance than style.  Style - of course - is always appreciated but is not the essence of what our Hackers &amp; Painters sessions are about. 
		</p>

	</section>

</article>

<article class="post tag-mots tag-responsive">

	<section class="post-excerpt">

		<h3>Speaker Guidelines</h3>

		<h4>1. Be Open Minded</h4>

		<p>
			We are all here to learn from each other. Come with an open mind and learn from your peers even though you are the speaker. 
			Debates are encouraged in the spirit of learning but there's no purpose in allowing discussions and discourse from turning abrasive.  It will not serve anyone's purpose.  If things start going off track, it is sometimes best to wrap it up and move on.
		</p>

		<h4>2. Be on time</h4>

		<p>
			As a speaker, do come a little early if you are not familiar with the venue and get to know the venue manager/owner.  Being on time shows respect and eagerness to meet the host which always sets things off on the right foot.
		</p>

		<h4>3. No Hawking</h4>

		<p>
			Again, at the risk of sounding repetitive, the objective of Hackers &amp; Painters sharing sessions is to share what you know and learn from your peers (even as a speaker).  You are not there to sell (as a speaker) or to be sold to (as a member of the audience or participating in discourse).  Though of course, if in the course of your sharing session, you are perceived as a subject matter expert and members of the audience says something like "Wow, that's awesome mad skill - can I pay for your product/time?" then it's fair game.
		</p>

		<h4>4. Preparation</h4>

		<p>
			We recommend that as speakers, you take no more than 1 hour to compose your thoughts and presentation on what you would like to share a day or two before the event.  There's no necessity for formal presentations or elaborate keynotes/powerpoint slides and the emphasize should be to share the know-how on a specific subject matter.  The ideal scenario is to share what you have learnt in the course of your 'day job' or while working on a side project of yours.  Preparation is good but there's no necessity to over-prepare. Simply share some interesting knowledge or techniques that you have recently learnt.
		</p>

		<h4>5. Be Yourself</h4>

		<p>
			People who have turned out to hear about what you have to say about the topic wants to know you as much as the topic you are sharing.  Make new friends, learn from members of the audience interactively. And most importantly, be your goodself. :-)
		</p>
			
	</section>

</article>

{{ end }}
